/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

html {
    padding: 0;
    margin: 0;
    line-height: 1.6em;
    font-weight: 400;
    font-size: 16px;
}
body {
    padding: 0;
    margin: 0;
    .heading {
        font-size: 64px;
        line-height: 80px;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
    }
    h1 {
        font-size: 35px;
        line-height: 1.3em;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
    }
    h2 {
        font-size: 27px;
        line-height: 1.3em;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
    }
    h3 {
        font-size: 24px;
        line-height: 1.3em;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
    }
    h4 {
        font-size: 21px;
        line-height: 36px;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
    }
    h5 {
        font-size: 19px;
        line-height: 28px;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
    }
    b, strong{
        font-weight: bold;
    }
}

body,
.nav>li>a,
.mobile-sidebar-levels-2 .nav>li>ul>li>a,
.alt-font {
    font-family: "Be Vietnam Pro", sans-serif;
}

.single #comments{
    display: none;
}
.page-wrapper{
    padding: 0;
}
.animated {
    visibility: hidden;
}

.textLine-1 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textLine-2 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textLine-3 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textLine-4 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textLine-5 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header {
    .menu-item {
        .nav-dropdown{
            &.nav-dropdown-default {
                padding: 0;
                border: none;
            }
        }
        &:not(.current-dropdown) {
            .nav-dropdown.nav-dropdown-default {
                visibility: hidden;
                opacity: 0;
                -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
                transform: perspective(400) rotate3d(1, 0, 0, -90deg);
            }
        }
        .current-dropdown.menu-item-has-block .nav-dropdown.nav-dropdown-default {
            display: flex;
            flex-wrap: wrap;
            visibility: visible;
            opacity: 1;
            transition: opacity .35s, transform .35s;
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0);
            transform: perspective(400px) rotate3d(1, 0, 0, 0);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
        }
        .sub-menu {
            opacity: 0;
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
            -webkit-transform-origin: 50% 0;
            transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
            transform-origin: 50% 0;
        }
        &.current-dropdown>.sub-menu {
            opacity: 1;
            transform: perspective(400px) rotate3d(1, 0, 0, 0);
            transition: opacity 0.2s, transform 0.2s;
            min-width: 200px;
            background: white;
            padding: 12px;
            box-shadow: 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 45px;
            &>li.menu-item{
                width: 100%;
                position: relative;
                &>a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    white-space: nowrap;
                    padding: 5px 14px;
                    color: #415076;
                    font-size: 14px;
                    font-weight: 400;
                    border-radius: 6px;
                    border: unset;
                    margin: 0;
                    line-height: 25px;
                    &:hover{
                        background: rgba(28, 43, 70, 0.04);
                        color: var(--Mau_1);
                    }
                }
            }
        }
        &.menu-item-has-block{
            &.current-dropdown>.sub-menu{
                &.nav-dropdown{
                    border: unset;
                    box-shadow: unset;
                    padding: 0;
                }
            }
        }
    }
}


.RemovePaddingBottom {
    padding-bottom: 0 !important;
}

.wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
    position: absolute;
    font-size: 14px;
}

.wpcf7 .wpcf7-form .wpcf7-response-output {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid rgb(1, 34, 105);
    font-size: 13px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 3px;
    background: #f3f3f3;
    color: rgb(1, 34, 105);
}

.wpcf7 .wpcf7-form form.invalid .wpcf7-response-output,
.wpcf7 .wpcf7-form form.unaccepted .wpcf7-response-output,
.wpcf7 .wpcf7-form form.payment-required .wpcf7-response-output {
    border-color: rgb(1, 34, 105);
}

.mfp-bg.mfp-ready {
    opacity: .8;
}

.mfp-close svg {
    stroke: white;
}

.anh-ao-la img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.table-wrapper table {
    border-collapse: collapse;
    border: 1px solid;
}

.table-wrapper td:first-child,
.table-wrapper th:first-child {
    padding-left: 5px;
}

.table-wrapper td,
.table-wrapper th {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    color: #333333;
    text-align: center;
}

.cart-wrapper .shop_table.shop_table_responsive thead {
    display: none;
}

.cart-wrapper .shop_table.shop_table_responsive .product-thumbnail {
    width: 130px;
    max-width: 130px;
    min-width: 130px;
}

.cung_cap_title_cart {
    font-size: 13px;
    display: block;
    margin-top: 6px;
    line-height: 1;
}

.cart-wrapper .shop_table.shop_table_responsive .product-name .cung_cap_title_cart>a {
    color: rgb(1, 34, 105);
    display: inline-block;
    margin-left: 3px;
    font-size: 13px;
}

.cart-products__actions {
    border-top: 1px solid #e8e8e8;
    padding-top: 4px;
    margin-top: 10px;
}

.cart-products__del>.remove_cus,
.cart-products__buy-later>.remove_cus {
    color: rgb(1, 34, 105);
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    cursor: pointer;
}

.woocommerce-cart-form__cart-item.cart_item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

.cart-wrapper .shop_table.shop_table_responsive .product-thumbnail {
    width: 130px;
}

.cart-wrapper .shop_table.shop_table_responsive .product-name {
    width: calc(100% - 465px);
    margin: 0 15px;
}

.cart-wrapper .shop_table.shop_table_responsive .product-price {
    width: 70px;
    margin-right: 15px;
}
.cart-wrapper .shop_table.shop_table_responsive .product-remove{
    width: 100px;
}
.cart-wrapper .shop_table.shop_table_responsive .product-quantity {
    width: 105px;
    margin-right: 15px;
}

.continue-shopping .button-continue-shopping {
    font-weight: 400;
    background: #464646;
    color: #fff !important;
    border: none;
    margin: 0;
    line-height: 40px;
    font-size: 13px;
}

.continue-shopping .button-continue-shopping:hover {
    background: #fff;
    color: #333;
    outline: 1px solid #ccc;
}

.woocommerce-cart.woocommerce-page .page-wrapper {
    background: #F4F4F4;
}

.cart-wrapper .main_cart_page {
    background: rgb(255, 255, 255);
    margin: 0px;
    border-radius: 4px;
}

.custom-cart>.large-4 .cart-sidebar .cart_totals {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 17px 15px 10px
}

.custom-cart>.large-4 .cart-sidebar .wc-proceed-to-checkout>a {
    font-weight: 400;
    background: #F6C019;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    color: #333;
}

.custom-cart>.large-4 .cart-sidebar .wc-proceed-to-checkout>a::before {
    font: var(--fa-font-solid);
    content: '\f023';
    position: relative;
    left: -10px;
    font-size: 22px;
}

.custom-cart>.large-4 .cart-sidebar .checkout_coupon {
    margin: 8px 0px 0px;
    background: rgb(255, 255, 255);
    padding: 17px 15px 10px;
    border-radius: 4px;
}

.custom-cart>.large-4 .cart-sidebar .cart-subtotal th,
.custom-cart>.large-3 .cart-sidebar .order-total th {
    font-weight: 300;
    color: rgb(51, 51, 51);
    font-size: 14px;
}

.custom-cart>.large-4 .cart-sidebar .cart-subtotal td .woocommerce-Price-amount {
    color: #111;
    font-weight: 500;
}

.custom-cart>.large-4 .cart-sidebar .order-total td .woocommerce-Price-amount {
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 400;
}

.custom-cart>.large-4 .cart-sidebar .product-name {
    border-width: 3px;
    color: rgb(0, 0, 0);
    margin: 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    font-weight: 400;
}

.custom-cart>.large-4 .cart-sidebar .checkout_coupon .widget-title {
    color: rgb(0, 0, 0);
    margin: 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    font-weight: 400;
}

.custom-cart>.large-4 .cart-sidebar .checkout_coupon #coupon_code {
    box-shadow: none;
}

.custom-cart>.large-4 .cart-sidebar .checkout_coupon #coupon_code::placeholder {
    font-size: 13px;
}

.custom-cart>.large-4 .cart-sidebar .checkout_coupon input[type="submit"].is-form {
    color: rgb(36, 36, 36);
    font-size: 12px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: wheat;
    padding: 5px 20px;
    outline: none;
    border-radius: 0px 3px 3px 0;
}

.main_cart_page .product-price .woocommerce-Price-amount {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

.main_cart_page .product-quantity .minus.button {
    height: 30px;
    min-height: 30px;
    border-right: none !important;
    width: 25px;
    line-height: 30px;
}

.main_cart_page .product-quantity .input-text.qty {
    height: 30px;
    min-height: 30px;
    box-shadow: none;
    width: 45px;
}

.main_cart_page .product-quantity .plus.button {
    height: 30px;
    min-height: 30px;
    border-left: none !important;
    width: 25px;
    line-height: 30px;
}

.woocommerce-mini-cart-item .woocommerce-Price-amount.amount {
    color: #ea0000 !important;
}

.woocommerce button[name="update_cart"],
.woocommerce input[name="update_cart"] {
    display: none;
}

.cart-wrapper .shop_table.shop_table_responsive .product-name>a {
    color: rgb(36, 36, 36);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
    text-size-adjust: 100%;
    display: block;
    margin-bottom: 12px;
}

.cart-wrapper .shop_table.shop_table_responsive .product-name>.variation {
    font-size: 14px;
    text-transform: inherit;
    margin-bottom: 0;
}

@media only screen and (min-width:850px) {
    .custom-cart>.large-8 {
        padding-right: 7px;
    }

    .custom-cart>.large-4 {
        padding-left: 7px;
    }
}

.cart-sidebar .cart_totals .shipping__inner .woocommerce-shipping-destination,
.cart-sidebar .cart_totals .shipping__inner .woocommerce-shipping-calculator {
    display: none;
}

.star-rating {
    font-size: 14px;
}

.cart-sidebar .term-wrapper {
    display: none;
}

.vertical-thumbnails {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    max-height: 668px;
}

.vertical-thumbnails::-webkit-scrollbar {
    display: none;
}

.product-footer .entry-content h1 {
    font-size: 27px;
    color: #000000;
    line-height: 1.4em;
}

.product-footer .entry-content h2 {
    font-size: 24px;
    color: #000000;
    line-height: 1.4em;
}

.product-footer .entry-content h3 {
    font-size: 22px;
    color: #000000;
    line-height: 1.4em;
}

.product-footer .entry-content h4 {
    font-size: 18px;
    color: #000000;
    line-height: 1.4em;
}

.product-footer .entry-content p {
    font-size: 16px;
    color: #000000;
    line-height: 1.5em;
}

.entry-content>.bc-grey-200 {
    margin-bottom: 25px;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.woocommerce-Price-amount{
    .amount{
        a{
            color: #fff;
        }
    }
}
.fancybox__slide {
    .fancybox__caption{
        text-align: center;
        font-size: 14px;
        max-width: 1000px;
    }
}
.nav-dropdown-has-arrow li.current-dropdown.has-dropdown:after, .nav-dropdown-has-arrow li.current-dropdown.has-dropdown:before{
    display: none;
}
.pagination-cntt{
    margin-top: 12px;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    .pagination-feature-btn{
        margin: 0;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #0A65F4;
        font-size: 14px;
        font-weight: 800;
        border: 1px solid var(--Light-blue, #0A65F4);
        line-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active,
        &:hover{
            background: var(--Light-blue, #0A65F4);
            color: #fff;
        }
    }
}
@keyframes radio_check {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.4);
    }
}
.overlay-footer{
    background: #000000c7;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    display: none;
    &.active{
        display: block;
    }
}